<%= form_tag("/posts) do %>
    <div>
      <strong>タイトル</strong>
      <textarea name="title"></textarea>
      <strong>内容</strong>
      <textarea name="content"></textarea>
      <input type="submit" value="投稿">
    </div>
<% end %>