<%= link_to("戻る", "/posts") %>
<div class="post-show">
    <div class="post-title">
        <strong>タイトル</strong>
        <p>
            <%= @post.title %>
        </p>
    </div>
    <div class="post-content">
        <p>
            <%= qiita_markdown(@post.content) %>
        </p>
    </div>
</div>